body {
    background-color: #e8e8e8;
    margin: 10px;
}

.content {
    max-width: 500px;
    margin: auto;
    padding: 10px 0 10px 0;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#chat-history {
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
}

.message-bubble {
    clear: both;
    max-width: 80%;
}

.datetime-label {
    font-size: small;
}

.display-4 {
    font-size: 2rem;
}

#loader {
    display: none;
    margin-top: 20px;
    width: 50px;
    height: 50px;
    background: red;
    position: relative;
    animation-name: loading;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

@keyframes loading {
    0% {
        background-color: red;
        left: 0px;
        top: 0px;
        border-radius: 0 0 0 0;
    }
    25% {
        background-color: blue;
        left: 100px;
        top: 0px;
        border-radius: 50% 0 0 0;
    }
    50% {
        background-color: green;
        left: 100px;
        top: 100px;
        border-radius: 50% 50% 0 0;
    }
    75% {
        background-color: yellow;
        left: 0px;
        top: 100px;
        border-radius: 50% 50% 50% 0;
    }
    100% {
        background-color: red;
        left: 0px;
        top: 0px;
        border-radius: 50% 50% 50% 50%;
    }
}